<app-navbar [isTeamSelected]="true"></app-navbar>

<section class="">
    <div class="mx-auto max-w-screen-xl px-4 lg:px-12">

        <div class="bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg overflow-hidden">
            <div class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0 md:space-x-4 p-4">
                <div class="w-full md:w-1/2">
                    <div class="flex items-center">
                        <label for="simple-search" class="sr-only">Search</label>
                        <div class="relative w-full">
                            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400"
                                    fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                        clip-rule="evenodd" />
                                </svg>
                            </div>
                            <input type="text" id="simple-search"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full pl-10 p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                placeholder="Search" [(ngModel)]="searchInput" (input)="filterData()">
                        </div>
                    </div>
                </div>


                <div class="flex items-center justify-between mx-1">
                    <div class="flex-grow-0 max-w-sm mr-4">
                        <select class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 h-full dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            [(ngModel)]="seasonSelectd" (change)="onSeasonChange($event)">
                            <option value="">Selecciona una temporada</option>
                            <option *ngFor="let season of seasons" [value]="season.id">{{ season.nombreTemporada }}</option>
                        </select>
                    </div>
                
                    <div class="flex items-center justify-end md:space-x-3 flex-shrink-0">
                        <button (click)="createMatch()" type="button" id="createMatchButton"
                            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 h-full dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                            <i class="fa-solid fa-circle-plus mr-1"></i> Agregar Partido
                        </button>
                    </div>
                </div>
                
                
            </div>
            <div class="overflow-x-auto">
                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-4 py-4"><span class="cursor-pointer">No. <i class=""></i></span>
                            </th>
                            <th scope="col" class="px-4 py-3"><span>Equipo <i class=""></i></span></th>
                            <th scope="col" class="px-4 py-3"><span (click)="sortData('nombreRival')"
                                    class="cursor-pointer">Rival<i class="fas fa-arrow-down ml-1.5"></i></span></th>
                            <th scope="col" class="px-4 py-3"><span (click)="sortData('golesFavor')"
                                    class="cursor-pointer">Goles a favor <i class="fas fa-arrow-down ml-1.5"></i></span></th>
                            <th scope="col" class="px-4 py-3"><span (click)="sortData('golesContra')"
                                    class="cursor-pointer">Goles en contra <i class="fas fa-arrow-down ml-1.5"></i></span></th>
                            <th scope="col" class="px-4 py-3"><span (click)="sortData('resultado')"
                                    class="cursor-pointer">Resultado <i class="fas fa-arrow-down ml-1.5"></i></span></th>
                            <th scope="col" class="px-4 py-3"><span (click)="sortData('tipoPartido')"
                                    class="cursor-pointer">Tipo de partido <i class="fas fa-arrow-down ml-1.5"></i></span></th>
                            <th scope="col" class="px-4 py-3"><span (click)="sortData('fecha')"
                                    class="cursor-pointer">Fecha <i class="fas fa-arrow-down ml-1.5"></i></span></th>
                            <th scope="col" class="px-4 py-3"><span>Ver</span></th>

                            <th scope="col" class="px-4 py-3">
                                <span class="sr-only">Acciones</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let match of filteredMatches let i = index" class="border-b dark:border-gray-700">
                            <th scope="row"
                                class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                {{ i + 1}}
                            </th>
                            <td class="px-4 py-3">
                                {{ match.equipo }}
                            </td>
                            <td class="px-4 py-3">
                                {{ match.nombreRival }}
                            </td>
                            <td class="px-4 py-3 max-w-[12rem] truncate">
                                {{ match.golesFavor }}
                            </td>
                            <td class="px-4 py-3">
                                {{ match.golesContra }}
                            </td>
                            <td class="px-4 py-3">
                                {{ match.resultado}}
                            </td>
                            <td class="px-4 py-3">
                                {{ match.tipoPartido }}
                            </td>
                            <td class="px-4 py-3">
                                {{ match.fecha }}
                            </td>
                            <td class="px-4 py-3">
                                <button (click)="ViewMatch(match.id)"
                                    class="p-2 bg-transparent hover:bg-gray-200 rounded-full focus:outline-none">
                                    <i class="fa-solid fa-eye"></i>
                                </button>

                            </td>
                            <td class="px-4 py-3 flex items-center justify-end">
                                <mat-menu #appMenu="matMenu">
                                    <ng-template matMenuContent>
                                        <button mat-menu-item
                                            (click)="deleteMatch(match.nombreRival, match.id)">Eliminar</button>
                                        <button mat-menu-item (click)="editMatch(match.id)">Editar</button>
                                    </ng-template>
                                </mat-menu>
                                <button mat-icon-button [matMenuTriggerFor]="appMenu">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>