.game-events{
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    justify-content: center;
    letter-spacing: -.012em;
    color: #D3D3D3; /* Cambia este color a uno más llamativo según tu preferencia */
  }

